.title {
    /* text-transform: uppercase; */
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 10px;
    color: #2F80ED;
   
  }
  
  .header {
    left: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
  }
  
  .quiz-hub {
    color: #2F80ED;
    font-weight: 400;
    text-decoration: underline;
    
  }

